{% extends './base.html' %}

{% block title %} Docker {% endblock %}

{% block body %}

<h1>¿Que es Docker?</h1>

<h3>
    <br>
    Docker es una plataforma de software que le permite crear, probar e implementar aplicaciones rápidamente.
    <br>
    <br>
    Docker empaqueta software en unidades estandarizadas llamadas contenedores que incluyen todo lo necesario para que el software se ejecute, incluidas bibliotecas, herramientas de sistema, código y tiempo de ejecución.
    <br>
    <br>
    Con Docker, puede implementar y ajustar la escala de aplicaciones rápidamente en cualquier entorno con la certeza de saber que su código se ejecutará.
</h3>

{% endblock %}